/* IMG1
====================================================================== */

body {
	background: url("../../images/bg/bg_img02.jpg") repeat scroll 0 0 transparent;
	background-attachment: fixed;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}